# building ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz
node_modules
**/WEB-INF/work/
*.log.*
# eclipse ignore
.settings/
.project
.classpath
*.launch
.externalToolBuilders

# idea ignore
.idea/
*.ipr
*.iml
*.iws

#jrebel ignore
rebel.xml

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.springBeans

# system ignore
.DS_Store
Thumbs.db

# tomcat
**/tomcat/work/
**/tomcat/logs/